.iphone-component {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .iphone-component .div {
    background-color: #ffffff;
    overflow: hidden;
    border: 2px solid;
    border-color: #d9d9d9;
    width: 390px;
    height: 844px;
    position: relative;
  }
  
  .iphone-component .notch {
    position: absolute;
    width: 164px;
    height: 31px;
    top: 0;
    left: 113px;
  }
  
  .iphone-component .rectangle {
    position: absolute;
    width: 18px;
    height: 7px;
    top: 21px;
    left: 341px;
  }
  
  .iphone-component .wifi {
    position: absolute;
    width: 15px;
    height: 11px;
    top: 19px;
    left: 319px;
  }
  
  .iphone-component .mobile-signal {
    position: absolute;
    width: 17px;
    height: 11px;
    top: 20px;
    left: 297px;
  }
  
  .iphone-component .text-wrapper {
    width: 54px;
    top: 13px;
    left: 31px;
    font-family: var(--default-bold-subheadline-font-family);
    white-space: nowrap;
    position: absolute;
    font-weight: var(--default-bold-subheadline-font-weight);
    color: var(--label-colorlightprimary);
    font-size: var(--default-bold-subheadline-font-size);
    text-align: center;
    letter-spacing: var(--default-bold-subheadline-letter-spacing);
    line-height: var(--default-bold-subheadline-line-height);
    font-style: var(--default-bold-subheadline-font-style);
  }
  
  .iphone-component .home-indicator {
    position: absolute;
    width: 134px;
    height: 5px;
    top: 831px;
    left: 128px;
    background-color: var(--label-colorlightprimary);
    border-radius: 100px;
  }
  
  .iphone-component .rectangle-2 {
    position: absolute;
    width: 1429px;
    height: 205px;
    top: -131px;
    left: -1429px;
    background-color: #d9d9d9;
  }
  
  .iphone-component .overlap {
    position: absolute;
    width: 390px;
    height: 591px;
    top: 47px;
    left: 0;
  }
  
  .iphone-component .group {
    width: 390px;
    height: 33px;
    top: 0;
    position: absolute;
    left: 0;
  }
  
  .iphone-component .overlap-group {
    position: relative;
    width: 392px;
    height: 33px;
  }
  
  .iphone-component .group-2 {
    width: 392px;
    height: 32px;
    top: 1px;
    position: absolute;
    left: 0;
  }
  
  .iphone-component .text-wrapper-2 {
    position: absolute;
    top: 6px;
    left: 169px;
    font-family: "Kantumruy-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .iphone-component .line {
    top: -1px;
    position: absolute;
    width: 390px;
    height: 2px;
    left: 0;
    object-fit: cover;
  }
  
  .iphone-component .img {
    top: 30px;
    position: absolute;
    width: 390px;
    height: 2px;
    left: 0;
    object-fit: cover;
  }
  
  .iphone-component .user-light {
    position: absolute;
    width: 34px;
    height: 28px;
    top: 4px;
    left: 348px;
  }
  
  .iphone-component .image {
    width: 29px;
    height: 33px;
    top: 0;
    left: 9px;
    position: absolute;
    object-fit: cover;
  }
  
  .iphone-component .rectangle-3 {
    position: absolute;
    width: 390px;
    height: 303px;
    top: 33px;
    left: 0;
    object-fit: cover;
  }
  
  .iphone-component .rectangle-4 {
    position: absolute;
    width: 318px;
    height: 432px;
    top: 159px;
    left: 36px;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
  }
  
  .iphone-component .text {
    width: 235px;
    top: 378px;
    left: 77px;
    opacity: 0.5;
    font-family: "Kantumruy-Regular", Helvetica;
    position: absolute;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 20px;
  }
  
  .iphone-component .text-wrapper-3 {
    position: absolute;
    top: 346px;
    left: 174px;
    opacity: 0.5;
    font-family: "Kantumruy-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .iphone-component .ellipse {
    position: absolute;
    width: 120px;
    height: 121px;
    top: 184px;
    left: 58px;
    object-fit: cover;
  }
  
  .iphone-component .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    width: 139px;
    height: 84px;
    top: 226px;
    left: 192px;
  }
  
  .iphone-component .span-wrapper {
    position: relative;
    align-self: stretch;
    font-family: "Kantumruy-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2px;
  }
  
  .iphone-component .span {
    font-family: "Kantumruy-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 2px;
  }
  
  .iphone-component .p {
    position: absolute;
    width: 288px;
    top: 411px;
    left: 50px;
    opacity: 0.5;
    font-family: "Kantumruy-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 20px;
  }
  
  .iphone-component .text-wrapper-4 {
    position: absolute;
    top: 383px;
    left: 104px;
    opacity: 0.5;
    font-family: "Kantumruy-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .iphone-component .text-wrapper-5 {
    position: absolute;
    top: 662px;
    left: 144px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Kantumruy-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 20px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .iphone-component .image-2 {
    width: 45px;
    height: 46px;
    top: 733px;
    left: 40px;
    position: absolute;
    object-fit: cover;
  }
  
  .iphone-component .image-3 {
    width: 57px;
    height: 58px;
    top: 727px;
    left: 122px;
    position: absolute;
    object-fit: cover;
  }
  
  .iphone-component .image-4 {
    width: 48px;
    height: 47px;
    top: 732px;
    left: 214px;
    position: absolute;
    object-fit: cover;
  }
  
  .iphone-component .image-5 {
    width: 71px;
    height: 58px;
    top: 727px;
    left: 277px;
    position: absolute;
    object-fit: cover;
  }
  