html {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "SFPro Text-Semibold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
}

p {
  padding: 0px;
  margin: 0px;
  padding-bottom: 5px;
}

.iphone-screen {
  background-color: #ffffff;
  overflow: hidden;
  border: 2px solid;
  border-color: #d9d9d9;
  width: 390px;
  height: 844px;
  position: relative;
}

.create-account-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 240px;
  height: 223px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-top: 200px;
}

.title {
  padding-top: 20px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 100px;
}

#text {
  font-family: "SFPro Text-Semibold", Helvetica;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto;
  text-align: left;
  padding: 0px;
}

#username {
  margin-bottom: 20px;
  width: 305px;
  height: 30px;
  border: 0.1px solid #e7dede;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 5px;
}

#password {
  margin-bottom: 20px;
  width: 305px;
  height: 30px;
  flex-shrink: 0;
  border: 0.1px solid #e7dede;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 5px;
}

#loginButton {
  width: 125px;
  height: 41px;
  flex-shrink: 0;
  background-color: #0273DB;
  stroke-width: 0.1px;
  border-radius: 10px;
  color: white;
  border: 0px;
}

#have-account {
  padding-top: 35px;
  color: black;
}

.login-help-text {
  text-decoration: underline;
  padding-bottom: 15px;
  font-size: 15px;
  font-style: normal;
}

#error-message {
  margin-top: 20 px;
  color: red;
}