html {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: "SFPro Text-Semibold", Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
  }

.iphone-screen {
    background-color: #ffffff;
    overflow: hidden;
    border: 2px solid;
    border-color: #d9d9d9;
    width: 390px;
    height: 844px;
    position: relative;
  }

.navigation-bar {
    width: 390px;
    height: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

.navigation-bar-element {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  font-weight: bold;
  font-size: 20px;
}

.navigation-bar-image {
  width: 40px;
  height: 40px;
}

.save-button {
    border: 0px;
    background-color: #0273DB;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    color: white;
    width: 125px;
    height: 41px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    margin-top: 40px;
}

.save-button-div {
    align-items: center;
    justify-content: center;
    display: flex;

}

.profile-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 390px;
}

.profile-pic {
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.instructions {
    margin-top: 10px;
    margin-bottom:30px;
    color: #A8A8A8A8;
}

.general-info {
    color: #A8A8A8A8;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 200px;
}

.general-info input {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;;
    border-bottom: 0.5px solid rgb(133, 128, 128);
}

.description {
    margin-top: 30px;
    padding: 10px;
}

#description-input {
    border: 0.5pt solid rgb(184, 181, 181);
    color: #A8A8A8A8;
    background-color: white;
    width: 300px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
   
}

#description-input::placeholder {
    position: absolute;
    top: 5px;
    left: 5px;
}

.contact-method {
    display: flex;
}

.contact-method img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#contact-info {
    margin-bottom: 10px;
}