html {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: "SFPro Text-Semibold", Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
  }

p {
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
}

.iphone-screen {
    background-color: #ffffff;
    overflow: hidden;
    border: 2px solid;
    border-color: #d9d9d9;
    width: 390px;
    height: 844px;
    position: relative;
  }

.navigation-bar {
    width: 390px;
    height: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

.navigation-bar-element {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  font-weight: bold;
  font-size: 20px;
}

.navigation-bar-image {
  width: 40px;
  height: 40px;
}

.upload-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-art {
    font-family: "SFPro Text-Semibold", Helvetica;
    font-size: 25px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.upload-image{
    width: 75px;
    height: 74px;
    border: 0px solid rgb(255, 255, 255);
    margin-top: 75px;
}

.title {
    margin-top: 85px;
}

p {
    width: 370px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.title-text {
    width: 370px;
    color: #A8A8A8A8;
    border-top: 0px white; 
    border-right: 0px white; 
    border-left: 0px white; 
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

.tags {
    margin-top: 45px;
}

.tag {
    border: 2px solid rgb(255, 255, 255);
    width: 152px;
    height: 33px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tag-list {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.add-tag-div {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.add-tag {
    width: 152px;
    height: 33px;
    border: 2pt solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.description {
    margin-top: 25px;
}

#description-input {
    border: 1pt solid rgb(191, 187, 187);
    color: #A8A8A8A8;
    background-color: white;
    width: 370px;
    height: 100px;
}

#description-input::placeholder {
    position: absolute;
    top: 5px;
    left: 5px;
}

#upload-button {
    width: 125px;
    height: 41px;
    margin-top: 35px;
    border: 2pt solid rgb(255, 255, 255);
    background-color: #0273DB;
    font-size: 16px;
    border-radius: 10px;
    color: white;
}
