<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'artist-profile-style.css')}}" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'artist-profile.js') }}"></script>
    <script>
        var user = {{user|tojson}};
    </script>
  </head>
  <body>
    <div class="iphone-screen">
        <div class="navigation-bar">
            <div class="navigation-bar-element"><a href="#" onclick="window.history.back()"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/back-button.png') }}" alt="Back Button"></a></div>
            <div class="navigation-bar-element">LionArt</div>
            <div class="navigation-bar-element"><img id="menu-profile-pic" class="navigation-bar-image" src="{{ url_for('static', filename = 'img/user-profile-pics/default.jpg') }}" alt="Menu"></div>
            <div class="popup-menu">
                <a href="{{ url_for('display_artist_profile') }}"><div>My profile</div></a>
                <a href="{{ url_for('display_create_profile') }}"><div>Edit my profile</div></a>
                <a href="{{ url_for('display_upload_art') }}"><div>Upload art</div></a>
            </div>
        </div>
        <div class="artist-profile">
            <div class="scrollable-area">
                <div class="spotlight-image">
                    <img src="{{ url_for('static', filename = 'img/profile-pg-background.png')}}">
                </div>
                <div class="artist-bio-block">
                    <div class="pic-and-name">
                        <img id="artist-profile-pic" src="{{ url_for('static', filename = 'img/john_pic.png')}}">
                        <div id="artist-name" class="artist-name">
                            John Smith
                        </div>
                    </div>
                    <div class="artist-bio">
                        <div class="long-intro">
                            <span id="major-name-id" class="major">Artist</span>. <span id="school-name-id">Columbia</span> <span id="grad-year-name-id">202?</span>. <br><br>
                            <span id="artist-bio">A mystery artist!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="art-block">
                <img class="art-piece-block" src="{{ url_for('static', filename = 'img/john_art.png') }}">
                <div class="art-caption-block">
                    <img class="profile-picture" src="{{ url_for('static', filename = 'img/john_pic.png') }}">
                    <div class="art-caption">
                        <div class="title">
                            Motion In Manhattan
                        </div>
                        <div class="artist-name-2">
                            John Smith 
                        </div>
                    </div>
                </div>
            </div>

            <div class="art-block">
                <img class="art-piece-block" src="{{ url_for('static', filename = 'img/john_art.png') }}">
                <div class="art-caption-block">
                    <img class="profile-picture" src="{{ url_for('static', filename = 'img/john_pic.png') }}">
                    <div class="art-caption">
                        <div class="title">
                            Motion In Manhattan
                        </div>
                        <div class="artist-name-2">
                            John Smith 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="external-links">
            <img class="link-img" src="{{ url_for('static', filename = 'img/instagram-logo.png')}}">
            <img class="link-img" src="{{ url_for('static', filename = 'img/website-link.png')}}">
            <img class="link-img" src="{{ url_for('static', filename = 'img/share-profile.png')}}">
        </div>
    </div>
  </body>
</html>
