<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'artist-profile-style.css')}}" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'artist-profile.js') }}"></script>
    <script>
        var user = {{user|tojson}};
      </script>
  </head>
  <body>
    <div class="iphone-screen">
        <div class="navigation-bar">
          <div class="navigation-bar-element"><a href="#" onclick="window.history.back()"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/back-button.png') }}" alt="Back Button"></a></div>
            <div class="navigation-bar-element">LionArt</div>
            <div class="navigation-bar-element"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/profile-button.png')}}" alt="Menu"></div>
        </div>
        <div class="artist-profile">
            <div class="scrollable-area">
                <div class="spotlight-image">
                    <img src="{{ url_for('static', filename = 'img/profile-pg-background.png')}}">
                </div>
                <div class="artist-bio-block">
                    <div class="pic-and-name">
                        <img src="{{ url_for('static', filename = 'img/john_pic.png')}}">
                        <div class="artist-name">
                            John Smith
                        </div>
                    </div>
                    <div class="artist-bio">
                        <div class="long-intro">
                            Street photographer. CC'25. <br><br>
                            I'm John Smith, a Columbia University student and NYC street photographer. Raised in the heart of the city, I fuse my studies in Journalism and Visual Arts with my passion for capturing candid moments on the bustling streets.
                        </div>
                    </div>
                </div>
            </div>
            <div class="art-block">
                <img class="art-piece-block" src="{{ url_for('static', filename = 'img/john_art.png') }}">
                <div class="art-caption-block">
                    <img class="profile-picture" src="{{ url_for('static', filename = 'img/john_pic.png') }}">
                    <div class="art-caption">
                        <div class="title">
                            Motion In Manhattan
                        </div>
                        <div class="artist-name-2">
                            John Smith 
                        </div>
                    </div>
                </div>
            </div>

            <div class="art-block">
                <img class="art-piece-block" src="{{ url_for('static', filename = 'img/john_art.png') }}">
                <div class="art-caption-block">
                    <img class="profile-picture" src="{{ url_for('static', filename = 'img/john_pic.png') }}">
                    <div class="art-caption">
                        <div class="title">
                            Motion In Manhattan
                        </div>
                        <div class="artist-name-2">
                            John Smith 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="external-links">
            <img class="link-img" src="{{ url_for('static', filename = 'img/instagram-logo.png')}}">
            <img class="link-img" src="{{ url_for('static', filename = 'img/website-link.png')}}">
            <img class="link-img" src="{{ url_for('static', filename = 'img/share-profile.png')}}">
        </div>
    </div>
  </body>
</html>
