<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'create-account-style.css')}}" />
  </head>
  <body>
    <div class="iphone-screen">
        <div class="create-account-content">
            <img class="logo" src="{{ url_for('static', filename = 'img/logo.png')}}">
            <div class="text">
                <input id="username" type="text" placeholder="Username">
            </div>
            <div class="text">           
                <input id="password" type="text" placeholder="Password">
            </div>
            <button id="loginButton" onclick="window.location.href = '{{ url_for('display_landing_page') }}';">Create Account</button>
            <a id="have-account" class="login-help-text" href = "{{ url_for('display_login_page')}}">Have an account? Login here.</a>
        </div>
    </div>
  </body>
</html>