<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'create-profile-style.css')}}"  />
  </head>
  <body>
    <div class="iphone-screen">
        <div class="navigation-bar">
          <div class="navigation-bar-element"><a href="#" onclick="window.history.back()"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/back-button.png') }}" alt="Back Button"></a></div>
            <div class="navigation-bar-element">LionArt</div>
            <div class="navigation-bar-element"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/profile-button.png')}}" alt="Menu"></div>
        </div>
        
        <div class="profile-editor">
            <img class="profile-pic" src="{{ url_for('static', filename = 'img/john_pic.png')}}">
            <div class="instructions">Edit your profile photo</div>
            <div class="general-info">
                <input class="general-info" type="text" placeholder="Profile name">
                <input class="general-info" type="text" placeholder="School">
                <input class="general-info" type="text" placeholder="Grad year">
                <input class="general-info" type="text" placeholder="Major">
            </div>
            <div class="description">
                <input id="description-input" type="text" placeholder="Type your artist bio here">
            </div>
            <div id="contact-info" class="instructions">Edit contact info</div>
            <div class="general-info">
                <div class="contact-method">
                    <img src="{{ url_for('static', filename = 'img/instagram-logo.png')}}"> 
                    <input class="general-info" type="text" placeholder="Instagram link">
                </div>
                <div class="contact-method">
                    <img src="{{ url_for('static', filename = 'img/website-link.png')}}"> 
                    <input class="general-info" type="text" placeholder="Portfolio link">
                </div>
            </div>       
          </div>
          <div class="save-button-div">
            <button class="save-button" onclick="window.location.href = '{{ url_for('display_artist_profile') }}';">Save Profile</button>
          </div>
        </div>
        
    </div>
  </body>
</html>
