<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'landing-page-style.css')}}" />
  </head>
  <body>
    <div class="iphone-screen">
        <div class="navigation-bar">
            <div class="navigation-bar-element"><a href="#" onclick="window.history.back()"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/back-button.png') }}" alt="Back Button"></a></div>
            <div class="navigation-bar-element">LionArt</div>
            <div class="navigation-bar-element"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/profile-button.png') }}" alt="Menu"></div>
        </div>
        <div class="art-display">
            <div class="scrollable-area">
                <a href = "{{ url_for('display_artist_profile')}}">
                    <div class="art-block">
                        <img class="art-piece-block" src="{{ url_for('static', filename = 'img/john_art.png') }}">
                        <div class="art-caption-block">
                            <img class="profile-picture" src="{{ url_for('static', filename = 'img/john_pic.png') }}">
                            <div class="art-caption">
                                <div class="title">
                                    Motion In Manhattan
                                </div>
                                <div class="artist-bio">
                                    John Smith 
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "{{ url_for('display_artist_profile')}}">
                    <div class="art-block">
                        <img class="art-piece-block" src="{{ url_for('static', filename = 'img/john_art.png') }}">
                        <div class="art-caption-block">
                            <img class="profile-picture" src="{{ url_for('static', filename = 'img/john_pic.png') }}">
                            <div class="art-caption">
                                <div class="title">
                                    Motion In Manhattan
                                </div>
                                <div class="artist-bio">
                                    John Smith
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "{{ url_for('display_artist_profile')}}">
                    <div class="art-block">
                        <img class="art-piece-block" src="{{ url_for('static', filename = 'img/john_art.png') }}">
                        <div class="art-caption-block">
                            <img class="profile-picture" src="{{ url_for('static', filename = 'img/john_pic.png') }}">
                            <div class="art-caption">
                                <div class="title">
                                    Motion In Manhattan
                                </div>
                                <div class="artist-bio">
                                    John Smith
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "{{ url_for('display_artist_profile')}}">
                    <div class="art-block">
                        <img class="art-piece-block" src="{{ url_for('static', filename = 'img/john_art.png') }}">
                        <div class="art-caption-block">
                            <img class="profile-picture" src="{{ url_for('static', filename = 'img/john_pic.png') }}">
                            <div class="art-caption">
                                <div class="title">
                                    Motion In Manhattan
                                </div>
                                <div class="artist-bio">
                                    John Smith
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
        <!--
        <div class="navigation-bar">
            <div class="navigation-bar-element"><a href="#" onclick="window.history.back()"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/back-button.png') }}" alt="Back Button"></a></div>
            <div class="navigation-bar-element">LionArt</div>
            <div class="navigation-bar-element"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/profile-button.png') }}" alt="Menu"></div>
        </div> -->
    </div>
  </body>
</html>
