<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'landing-page-style.css')}}" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'landing-page.js') }}"></script>
    <script>
        var user = {{user|tojson}};
    </script>
  </head>
  <body>
    <div class="iphone-screen">
        <div class="navigation-bar">
            <div class="navigation-bar-element"><a href="#" onclick="window.history.back()"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/back-button.png') }}" alt="Back Button"></a></div>
            <div class="navigation-bar-element">LionArt</div>
            <div class="navigation-bar-element"><img id="menu-profile-pic" class="navigation-bar-image" src="{{ url_for('static', filename = 'img/user-profile-pics/default.jpg') }}" alt="Menu"></div>
            <div class="popup-menu">
                <a href="{{ url_for('display_artist_profile') }}"><div>My profile</div></a>
                <a href="{{ url_for('display_create_profile') }}"><div>Edit my profile</div></a>
                <a href="{{ url_for('display_upload_art') }}"><div>Upload art</div></a>
            </div>
        </div>
        <div class="search-bar">
            <img class="search-icon" src="{{ url_for('static', filename = 'img/search.png') }}">
            <input type="text" id="actual-search-bar" placeholder="Search">
        </div>
        <div class="art-display">
            <div class="scrollable-area" id="postsContainer">
            </div>
        </div>
    </div>
  </body>
</html>
