
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'login-page-style.css')}}" />

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'login-page.js') }}"></script>
  </head>
  <body>
    <div class="iphone-screen">
        <div class="login-content">
            <img class="logo" src="{{ url_for('static', filename = 'img/logo.png')}}">
            <input id="username" type="text" placeholder="Username">
            <input id="password" type="text" placeholder="Password">
            <button id="loginButton">Login</button>
            <a id="forgot-password" class="login-help-text">Forgot password?</a>
            <a class="login-help-text" href = "{{ url_for('display_create_account')}}">New user</a>
            <p id="error-message"></p>
        </div>
    </div>
  </body>
</html>
