
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'login-page-style.css')}}" />
  </head>
  <body>
    <div class="iphone-screen">
        <div class="login-content">
            <img class="logo" src="{{ url_for('static', filename = 'img/columbia-logo.png')}}">
            <div class="title">Lion Art</div>
            <input id="username" type="text" placeholder="Username">
            <input id="password" type="text" placeholder="Password">
            <button id="loginButton" onclick="window.location.href = '{{ url_for('display_landing_page') }}';">Login</button>
            <a id="forgot-password" class="login-help-text">Forgot password?</a>
            <a class="login-help-text">New user</a>
        </div>
    </div>
  </body>
</html>
