<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/photography-style.css" />
  </head>
  <body>
    <div class="iphone-screen">
        <div class="navigation-bar">
            <div class="navigation-bar-element"><a href="#" onclick="window.history.back()"><img class="navigation-bar-image" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/back-button.png" alt="Back Button"></a></div>
            <!--<div class="navigation-bar-element"><img class="navigation-bar-image" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/logo.png" alt="Logo"></div>
            <div class="navigation-bar-element"> </div>-->
        </div>
        <div>
            <div class="tag">Photography</div>
        </div>
        <div class="artist-profile">
            <div class="scrollable-area">
            </div>
            <div class="art-block">
                <img class="art-piece-block" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/john_art.png">
                <div class="art-caption-block">
                    <img class="profile-picture" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/john_pic.png">
                    <div class="art-caption">
                        <div class="title">
                            Motion In Manhattan
                        </div>
                        <div class="artist-name-2">
                            John Smith 
                        </div>
                    </div>
                </div>
            </div>

            <div class="art-block">
                <img class="art-piece-block" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/sunset.jpeg">
                <div class="art-caption-block">
                    <img class="profile-picture" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/john_pic.png">
                    <div class="art-caption">
                        <div class="title">
                            Motion In Manhattan
                        </div>
                        <div class="artist-name-2">
                            John Smith 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="external-links">
            <img class="link-img" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/email-logo.png">
            <img class="link-img" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/search.png">
            <img class="link-img" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/plus-sign.png">
            <img class="link-img" src="/Users/marthanjuguna/Documents/FALL-2023/ui/LionArt/static/img/john_pic.png">
        </div>
    </div>
  </body>
</html>
