<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'global.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styleguide.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'upload-art-style.css')}}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="iphone-component">
      <div class="div">
        <div class="home-indicator"></div>
        <div class="rectangle-2"></div>
        <div class="group">
          <div class="overlap-group">
            <div class="group-2">
              <div class="text-wrapper-2">LionArt</div>
              <img class="line" src="{{ url_for('static', filename='img/line-3.svg') }}" />
              <img class="img" src="{{ url_for('static', filename='img/line-4.svg') }}" />
            </div>
            <img class="user-light" src="{{ url_for('static', filename='img/profile-button.png') }}" />
            <img class="image" src="{{ url_for('static', filename='img/back-button.png') }}" />
          </div>
        </div>
        <div class="text-wrapper-3">Upload art</div>
        
        <div class="text-wrapper-4">Title</div>
        <img class="line-2" src="{{ url_for('static', filename='img/line-17.svg') }}" />
        <div class="text-wrapper-5"><input type="text" class="form-control" value="Art piece title"></div>
        <div class="overlap"><div class="text-wrapper-6"><input value="Description of art piece" style="width: 300px; height: 130px;"></div></div>
        <div class="text-wrapper-7">Description</div>
        <div class="text-wrapper-8">Tags</div>
        <div class="div-wrapper"><div class="text-wrapper-9"><button class="btn btn-outline-dark" style="background-color: white; border-color: black;">Experimental</button></div></div>
        <div class="overlap-2"><div class="text-wrapper-10"><button class="btn btn-outline-dark" style="background-color: white; border-color: black;">Photography</button></div></div>
        <div class="overlap-3"><div class="text-wrapper-11"><button class="btn btn-outline-dark" style="background-color: white; border-color: black;">+ Add tag</button></div></div>
        <button class="button-class" id="Enter" type="button" onclick="window.location.href = '{{ url_for('display_artist_profile') }}';" class="button">Upload</button>
      </div>
    </div>
  </body>
</html>
