<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"  href="{{ url_for('static', filename = 'upload-art-style.css')}}" />
  </head>
  <body>
    <div class="iphone-screen">
        <div class="navigation-bar">
          <div class="navigation-bar-element"><a href="#" onclick="window.history.back()"><img class="navigation-bar-image" src="{{ url_for('static', filename = 'img/back-button.png') }}" alt="Back Button"></a></div>
            <div class="navigation-bar-element">LionArt</div>
            <div class="navigation-bar-element"><img class="navigation-bar-image" src="{{ url_for('static', filename='img/profile-button.png') }}" alt="Menu"></div>
        </div>
        <div class="upload-screen">
            <div class="upload-art">
                Upload Art
            </div>
            <img class="upload-image" src="{{ url_for('static', filename='img/plus_sign.png') }}">
            <div class="title">
                <input class="title-text" type="text" placeholder="Title">
            </div>
            <div class="tags">
                <p>Tags</p>
                <div class="tag-list">
                    <div class="tag">Photography</div>
                    <div class="tag">Experimental</div>
                </div>
                <div class="add-tag-div">
                  <button class="add-tag">+ Add tag</button>
                </div>
            </div>
            <div class="description">
                <p>Description</p>
                <input id="description-input" type="text" placeholder="Description of art piece">
            </div>
            <button id="upload-button" onclick="window.location.href = '{{ url_for('display_my_art') }}';">Upload</button>
        </div>
    </div>
  </body>
</html>
